@import './base.css';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #FEFAE0;
}

#app {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}